<p id="notice"><%= notice %></p>

<p>
  <strong>Assessment description:</strong>
  <%= @assessment.assessment_description %>
</p>

<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Back', assessments_path %>
