<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title>A2P | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help page</h1>
    <p>
      Figure it out yourself. I had to write it!!
    </p>
  </body>
</html>
