<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>A2P | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Home</h1>
    <p>
      This is the home page for the A2P web app
    </p>
  </body>
</html>