<p id="notice"><%= notice %></p>

<p>
  <strong>Area of focus:</strong>
  <%= @area_of_focu.area_of_focus %>
</p>

<%= link_to 'Edit', edit_area_of_focu_path(@area_of_focu) %> |
<%= link_to 'Back', area_of_focus_path %>
