<p id="notice"><%= notice %></p>

<p>
  <strong>Evidence type:</strong>
  <%= @evidence_type.evidence_type %>
</p>

<%= link_to 'Edit', edit_evidence_type_path(@evidence_type) %> |
<%= link_to 'Back', evidence_types_path %>
