<header id="page_header">
	​ ​ <nav id= "utility" > ​ ​ ​ ​ 
		<p> ​ ​ ​ ​ You are logged in as <strong> Mr. Ormes </strong> ​ ​ ​ ​ 
			<%= link_to "[Your Account]" , "#" %> |​ ​ ​ ​ 
			<%= link_to "[Logout]" , 
			"#" %>​ ​ ​ ​ 
		</p> ​ ​ ​ ​ 
  
</header>
